body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}
.heder {

  font-size: 14px;
  font-weight: 500;
  color: #212121;
}
.section-2{
    display: flex;
    flex-direction: row;
}
.section-3{
        display: flex;
    flex-direction: row;
}
}
.page-title {
  font-size: 44px;
  font-weight: 900;
  color: #fff;
}
.dignity {
  font-size: 14px;
  font-weight: 700;
  color: #212121;
}
.description-of-the-merits {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}
.section-name {
  font-size: 36px;
  font-weight: 700;
  color: #212121;
}
.our-team{
        display: flex;
    flex-direction: row;
}
.image-title {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}
.image-description {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
.section-1 {
  background: #2f303a;
}
.section-4 {
  background: #f5f4fa;
}
.section-portfolio{
        display: flex;
    flex-direction: row;
}
.portfolio-buttons {

  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
 
}
.footer {
  background: #2f303a;
}
